@import "../../config.scss";

.advantages {
  margin: 70px auto 0;
  max-width: 1200px;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
  &__cards {
    display: flex;
    justify-content: space-between;
  }
  &__breakpoint {
    position: absolute;
    top: -70px;
  }
}

.card-main {
  padding: 30px;
  box-sizing: border-box;
  width: 270px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  -webkit-transition: $TransitionDuration;
  transition: $TransitionDuration;
  filter: grayscale(100%);
  &:hover {
    background-color: white;
    border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 20px rgb(228, 227, 227);
    transform: translateY(-5px);
    filter: grayscale(0);
  }
  & h2 {
    font-size: 20px;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 810px) {
  .advantages {
    &__cards {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .card {
    width: 250px;
  }
}
