@import "./config.scss";

html,
body,
header,
main,
footer,
ul,
li,
button,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
address {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: $mainFont;
  :focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:not([href]) {
    color: white;
  }
}

li {
  list-style-type: none;
}

button {
  border: none;
  color: inherit;
  outline: none;
}

body {
  background-color: #f2fefe;
}
