@font-face {
  font-family: "Glyphicons";
  font-weight: normal;
  src: url("./fonts/glyphicons-halflings-regular.ttf");
}

@font-face {
  font-family: "Themify";
  font-weight: bold;
  src: url("./fonts/themify.ttf");
}

@font-face {
  font-family: "Gilroy";
  font-weight: normal;
  src: url("./fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "Gilroy";
  font-weight: bold;
  src: url("./fonts/Gilroy-Bold.ttf");
}
